<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div class="form-area" formGroupName="customer">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="">First Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="firstName" />
                <div
                  *ngIf="
                    firstName?.invalid &&
                    (firstName?.dirty || firstName?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      (firstName?.errors)!['required'] ||
                      (firstName?.errors)!['notOnlyWhiteSpace']
                    "
                  >
                    First Name is required
                  </div>
                  <div *ngIf="(firstName?.errors)!['minlength']">
                    First Name must be atleast 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">Last Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="lastName" />
                <div
                  *ngIf="
                    lastName?.invalid && (lastName?.dirty || lastName?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      (lastName?.errors)!['required'] ||
                      (lastName?.errors)!['notOnlyWhiteSpace']
                    "
                  >
                    Last Name is required
                  </div>
                  <div *ngIf="(lastName?.errors)!['minlength']">
                    Last Name must be atleast 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">Email</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="email" />
                <div
                  *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="(email?.errors)!['required']">
                    Email is required
                  </div>

                  <div *ngIf="(email?.errors)!['pattern']">
                    Email must be a valid email address format
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-area" formGroupName="shippingAddress">
          <h3>Shipping Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="">Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getStates('shippingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    shippingAddressCountry?.invalid &&
                    (shippingAddressCountry?.dirty ||
                      shippingAddressCountry?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="(shippingAddressCountry?.errors)!['required']">
                    Country field is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="street" />
                <div
                  *ngIf="
                    shippingAddressStreet?.invalid &&
                    (shippingAddressStreet?.dirty ||
                      shippingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      (shippingAddressStreet?.errors)!['required'] ||
                      (shippingAddressStreet?.errors)!['notOnlyWhiteSpace']
                    "
                  >
                    Street field is required
                  </div>
                  <div *ngIf="(shippingAddressStreet?.errors)!['minlength']">
                    Atleast 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">City</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="city" />
                <div
                  *ngIf="
                    shippingAddressCity?.invalid &&
                    (shippingAddressCity?.dirty || shippingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      (shippingAddressCity?.errors)!['required'] ||
                      (shippingAddressCity?.errors)!['notOnlyWhiteSpace']
                    "
                  >
                    City field is required
                  </div>
                  <div *ngIf="(shippingAddressCity?.errors)!['minlength']">
                    Atleast 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let state of shippingAddressStates"
                    [ngValue]="state.name"
                  >
                    {{ state.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    shippingAddressState?.invalid &&
                    (shippingAddressState?.dirty ||
                      shippingAddressState?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="(shippingAddressState?.errors)!['required']">
                    State field is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">ZipCode</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="zipcode" />
                <div
                  *ngIf="
                    shippingAddressZipcode?.invalid &&
                    (shippingAddressZipcode?.dirty ||
                      shippingAddressZipcode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      (shippingAddressZipcode?.errors)!['required'] ||
                      (shippingAddressZipcode?.errors)!['notOnlyWhiteSpace']
                    "
                  >
                    Zipcode field is required
                  </div>
                  <div *ngIf="(shippingAddressZipcode?.errors)!['minlength']">
                    Atleast 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAdd($event)" />
            <span class="au-checkmark"> </span>
            Billing Address same as Shipping Address
          </label>
        </div>

        <div class="form-area" formGroupName="billingAddress">
          <h3>Billing Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="">Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getStates('billingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    billingAddressCountry?.invalid &&
                    (billingAddressCountry?.dirty ||
                      billingAddressCountry?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="(billingAddressCountry?.errors)!['required']">
                    Country field is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="street" />
                <div
                  *ngIf="
                    billingAddressStreet?.invalid &&
                    (billingAddressStreet?.dirty ||
                      billingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      (billingAddressStreet?.errors)!['required'] ||
                      (billingAddressStreet?.errors)!['notOnlyWhiteSpace']
                    "
                  >
                    Street field is required
                  </div>
                  <div *ngIf="(shippingAddressStreet?.errors)!['minlength']">
                    Atleast 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">City</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="city" />
                <div
                  *ngIf="
                    billingAddressCity?.invalid &&
                    (billingAddressCity?.dirty || billingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      (billingAddressCity?.errors)!['required'] ||
                      (billingAddressCity?.errors)!['notOnlyWhiteSpace']
                    "
                  >
                    City field is required
                  </div>
                  <div *ngIf="(billingAddressCity?.errors)!['minlength']">
                    Atleast 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let state of billingAddressStates"
                    [ngValue]="state.name"
                  >
                    {{ state.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    billingAddressState?.invalid &&
                    (billingAddressState?.dirty || billingAddressState?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="(billingAddressState?.errors)!['required']">
                    State field is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">ZipCode</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="zipcode" />
                <div
                  *ngIf="
                    billingAddressZipcode?.invalid &&
                    (billingAddressZipcode?.dirty ||
                      billingAddressZipcode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      (billingAddressZipcode?.errors)!['required'] ||
                      (billingAddressZipcode?.errors)!['notOnlyWhiteSpace']
                    "
                  >
                    Zipcode field is required
                  </div>
                  <div *ngIf="(billingAddressZipcode?.errors)!['minlength']">
                    Atleast 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-area" formGroupName="creditCard">
          <h3>Credit Card</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="">Cart Type</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option value="Master">Master</option>
                  <option value="Visa">Visa</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">Name On Card</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="nameOnCard" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">Card Number</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="cardNumber" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">Security Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="securityCode" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">Expiration Month</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let item of creditCardMonths">
                    {{ item }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="">Expiration Year</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="expirationYear"
                  (change)="handleMonthYear()"
                >
                  <option *ngFor="let item of creditCardYears">
                    {{ item }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-area">
          <h3>Review Your Order</h3>
          <p>Total Quantity : {{ totalQuantity }}</p>
          <p>Shipping FREE</p>
          <p>TOtal Price : {{ totalPrice | currency : "INR" }}</p>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
