<!-- Topbar Start -->
<div class="container-fluid">
  <!-- <div class="row bg-secondary py-2 px-xl-5">
          <div class="col-lg-6 d-none d-lg-block">
              <div class="d-inline-flex align-items-center">
                  <a class="text-dark" href="">FAQs</a>
                  <span class="text-muted px-2">|</span>
                  <a class="text-dark" href="">Help</a>
                  <span class="text-muted px-2">|</span>
                  <a class="text-dark" href="">Support</a>
              </div>
          </div>
          <div class="col-lg-6 text-center text-lg-right">
              <div class="d-inline-flex align-items-center">
                  <a class="text-dark px-2" href="">
                      <i class="fab fa-facebook-f"></i>
                  </a>
                  <a class="text-dark px-2" href="">
                      <i class="fab fa-twitter"></i>
                  </a>
                  <a class="text-dark px-2" href="">
                      <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a class="text-dark px-2" href="">
                      <i class="fab fa-instagram"></i>
                  </a>
                  <a class="text-dark pl-2" href="">
                      <i class="fab fa-youtube"></i>
                  </a>
              </div>
          </div>
      </div> -->

  <div class="row align-items-center py-3 px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
      <a href="" class="text-decoration-none">
        <h1 class="m-0 display-5 font-weight-semi-bold">
          <span class="text-primary font-weight-bold border px-3 mr-1">E</span
          >Shopper
        </h1>
      </a>
    </div>
    <div class="col-lg-6 col-6 text-left"></div>
    <div class="col-lg-3 col-6 text-right">
      <!-- <a href="" class="btn border">
                  <i class="fas fa-heart text-primary"></i>
                  <span class="badge">0</span>
              </a> -->
      <a routerLink="/products" class="btn">Home</a>
      <a routerLink="/profile" *ngIf="loggedIn" class="btn">Profile</a>

      <a routerLink="login" class="btn" *ngIf="!loggedIn">Login</a>
      <button class="btn" (click)="logout()" *ngIf="loggedIn">Logout</button>
      <a routerLink="register" class="btn" *ngIf="!loggedIn">Register</a>

      <app-cart-status></app-cart-status>
    </div>
  </div>
</div>
<!-- Topbar End -->

<div class="container-fluid mb-5" style="min-height: 73vh">
  <router-outlet></router-outlet>
</div>

<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5">
  <div class="row border-top border-light mx-xl-5 py-4">
    <div class="col-md-6 px-xl-0">
      <p class="mb-md-0 text-center text-md-left text-dark">
        &copy;
        <a class="text-dark font-weight-semi-bold" href="#">Your Site Name</a>.
        All Rights Reserved. Designed by
        <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com"
          >HTML Codex</a
        >
      </p>
    </div>
    <div class="col-md-6 px-xl-0 text-center text-md-right">
      <img class="img-fluid" src="img/payments.png" alt="" />
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"
  ><i class="fa fa-angle-double-up"></i
></a>
